<div class="navbar-winelife">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-winelife-brand" do %>
    <p id="logo-dark">//WINELIFE</p>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-winelife-right">

    <!-- Link to likes -->
    <%= link_to "Likes", likes_path, class: "navbar-winelife-item navbar-winelife-link hidden-xs hidden-sm" %>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-winelife-item hidden-xs hidden-sm">
      <div class="dropdown">

        <%= image_tag('avatar', class: "avatar dropdown-toggle", id: "navbar-winelife-menu", data: { toggle: 'dropdown' } ) %>

        <ul class="dropdown-menu dropdown-menu-right navbar-winelife-dropdown-menu">
          <li>
            <%= link_to edit_user_registration_path do %>
              <i class="fa fa-edit"></i> <%= t( "Edit user") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Sign out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-winelife-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-winelife-dropdown-menu">
        <li>
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-edit"></i> <%= t( "Edit user") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i> <%= t(".sign_out", default: "Sign out") %>
          <% end %>
        </li>
        <li>
          <%= link_to likes_path do %>
            <i class="fa fa-heart mobile-menu-heart" id=""></i> <%= t( "Likes" ) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

</div>
