<div class="wrapper-results">
  <h1 class="list text-center">Your Wine list</h1>
  <div class="container">
  <div class="row">
    <% counter = 0 %>
    <% @wines.each do |wine| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="winecard">
          <div class="cardheader">
            <div class="rating">
              <p><i class="fa fa-star"></i> <%= wine.rating %></p>
            </div>
            <div class="price">
              <p>$ <%= wine.price %></p>
            </div>
          </div>
          <div class="imgbox">
            <img src="<%= wine.photo_url %>" alt="winebottle">
          </div>
          <h3><%= wine.name.split[0..3].join(' ') %></h3>
          <p class="availability-text"> <%= @wine_availability[counter] %>
            <% if @wine_availability[counter] > 1 %>
              bottles
            <% else %>
              bottle
            <% end %>
            available at<br>
            <%= @store.banner %> <%= @store.name %>
          </p>
          <%= link_to "More details", show_path(wine), class: "main-btn" %>
        </div>
  		</div>
    <% counter += 1 %>
  	<% end %>
  </div>
  <br>
  <p>All of those wines are available at your nearest SAQ:</p>
  <p><%= @store.name %></p>
  <p><%= @store.address %></p>
  </div>
</div>
