
<!-- mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>




<div class="container">
  <div class="main-container">
    <div class="header">
      <div class="back-btn">
        <a action="action" onclick="window.history.go(-1); return false;">
          <h2><i class="fas fa-arrow-left"></i></h2>
        </a>
      </div>
      <div class="favorite">
        <%= link_to wine_like_path(@wine), method: :post do %>
          <% if Like.where(wine: @wine, user: current_user).empty? %>
            <h2><i class="fas fa-heart"></i></h2>
          <% else %>
             <h2><i class="fas fa-heart is-clicked"></i></h2>
          <% end %>
        <% end %>
      </div>
    </div>
  <div class="product-image">
    <img src="<%= @wine.photo_url %>" alt="Bottle of <%= @wine.name %>">
  </div>
  <div class="description">
    <h3 class=""><%= @wine.name %></h3>
    <h4 class=""><%= @wine.country %></h4>
    <% if @wine.tasting_note %>
      <p class="details-wine text-justify "><%= @wine.tasting_note %></p>
    <% else %>
      <p class="details-wine text-justify ">Tasting note unavailable</p>
    <% end %>
      <p class="more-infos text-center"> MORE INFOS </p>
      <div class="more-description display-none">

      <div class="row color-variety">
        <div class="col-xs-6 no-h-padding">
          <div class="color">
            <div class="title-left"><h3>Colour</h3></div>
            <div class="details">
              <p class="icon-left"> <%= image_tag "bottle glass.png", height: 30 %> </p>
              <p class="info"><%= @wine.colour %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 no-h-padding">
          <div class="variety">
            <div class="title-right"><h3>Variety</h3></div>
            <div class="details">
              <p class="icon-right"> <%= image_tag "grape-2.png", height: 30 %> </p>
              <% if @wine.variety %>
                <p class="info"><%= @wine.variety %></p>
              <% else %>
                <p class="info">Information unavailable</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row temperature-alcohol">
        <div class="col-xs-6 no-h-padding">
          <div class="temperature">
            <div class="title-left"><h3>Temperature</h3></div>
            <div class="details">
              <p class="icon-left"> <%= image_tag "Thermometre.png", height: 30 %> </p>
              <% if @wine.serving_temperature %>
                <p class="info"><%= @wine.serving_temperature %></p>
              <% else %>
                <p class="info">Information unavailable</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-6 no-h-padding">
          <div class="degree">
            <div class="title-right"><h3>Degree of alcohol</h3></div>
            <div class="details">
              <p class="icon-right"> <%= image_tag "percentage-2.png", height: 30 %> </p>
              <p class="info"><%= @wine.alcohol_percent %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row food-pairing-rating">
        <div class="col-xs-6 no-h-padding">
          <div class="food-pairing">
            <div class="title-left"><h3>Food pairing</h3></div>
            <div class="details">
              <% if @wine.pairs_with_meat %>
                <p class="icon-left"><%= image_tag "meat.png", height: 30 %></p>
              <% end %>
              <% if @wine.pairs_with_seafood %>
                <p class="icon-left"><%= image_tag "fish.png", height: 30 %></p>
              <% end %>
              <% if @wine.pairs_with_cheese %>
                <p class="icon-left"><%= image_tag "cheese.png", height: 30 %></p>
              <% end %>
              <% if (!@wine.pairs_with_meat && !@wine.pairs_with_seafood && !@wine.pairs_with_cheese) %>
                <p class="info">Information unavailable</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-6 no-h-padding">
          <div class="rating">
            <div class="title-right"><h3>Vivino.com rating</h3></div>
            <div class="details">
              <p class="icon-right"> <%= image_tag "star-2.png", height: 30 %> </p>
              <p class="info">
                <% if @wine.rating %>
                  <%= @wine.rating %>
                <% else %>
                  Information unavailable
                <% end %>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>



</div>


<% content_for :after_js do %>


  <script>
    $( ".favorite").click(function() {


      $(".fa-heart").toggleClass( "is-clicked" );
       // if( $(".is-clicked").length )         // use this if you are using id to check
       //  $(".fa-heart").removeClass( "is-clicked" );
       // else
       //  $(".fa-heart").addClass( "is-clicked" );
     });

    $( ".more-infos").click(function() {

      $(".more-description").toggleClass( "display-none" );



      if( $(".display-none").length )         // use this if you are using id to check
        $(".more-infos").html( "MORE INFOS" );
       else
        $("html, body").animate({ scrollTop: $(document).height()-$(window).height()}, 500);
         $(".more-infos").html( "LESS INFOS" );
     });
   </script>

<% end %>



