
<!-- mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>





<div class="main-container">
  <div class="header">
    <div class="back-btn">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="favorite">
      <i class="fas fa-heart"></i>
    </div>
  </div>
  <div class="product-image">
    <img src="http://s7d9.scene7.com/is/image/SAQ/12868835-1" alt="">
  </div>
  <div class="description">
    <h3> Château Margaux</h3>
       <h4> France</h4>
           <p class="details-wine text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum reiciendis deserunt minus architecto optio, labore eligendi laborum amet veritatis enim, blanditiis non laboriosam quaerat aliquid, necessitatibus aspernatur quod quidem dicta.</p>
    <p class="more-infos text-center"> MORE INFOS </p>
  </div>


<div class="more-description invisible">
    <div class="row color-variety">
      <div class="col-xs-6">
        <div class="color">
          <div class="title-left"> <h3> Color </h3></div>
          <div class="details">
            <p class="icon-left"> <%= image_tag "bottle glass.png", height: 30 %> </p>
            <p class="info"> Red wine</p>
          </div>
        </div> 
      </div>
      <div class="col-xs-6">
        <div class="variety">
          <div class="title-right"> <h3> Variety</h3> </div>
          <div class="details">
            <p class="icon-right"> <%= image_tag "grape-2.png", height: 30 %> </p>
            <p class="info"> Syrah</p>
          </div>
        </div> 
      </div>
    </div>
    <div class="row temperature-alcohol">
      <div class="col-xs-6">
        <div class="temperature">
          <div class="title-left"> <h3> Temperature</h3> </div>
          <div class="details">
            <p class="icon-left"> <%= image_tag "Thermometre.png", height: 30 %> </p>
            <p class="info"> Between 16°C et 18°C </p>
          </div>
        </div> 
      </div>
      <div class="col-xs-6">
        <div class="degree">
          <div class="title-right"> <h3>Degree of Alcohol</h3> </div>
          <div class="details">
            <p class="icon-right"> <%= image_tag "percentage-2.png", height: 30 %> </p>
            <p class="info"> 14.5%</p>
          </div>
        </div> 
      </div>
    </div>
    <div class="row food-pairing-rating">
      <div class="col-xs-6">
        <div class="food-pairing">
          <div class="title-left"> <h3> Food pairing</h3> </div>
          <div class="details">
            <p class="icon-left">  <%= image_tag "meat.png", height: 30 %> </p>
            <p class="icon-left">  <%= image_tag "fish.png", height: 30 %> </p>
            <p class="icon-left">  <%= image_tag "cheese.png", height: 30 %> </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="rating">
          <div class="title-right"> <h3>Rating</h3> </div>
          <div class="details">
            <p class="icon-right"> <%= image_tag "star-2.png", height: 30 %> </p>
            <p class="info"> 3.7/5</p>
          </div>
        </div> 
      </div>

    </div>





  <script>  
    $( ".favorite").click(function() {


      $(".fa-heart").toggleClass( "is-clicked" );
       // if( $(".is-clicked").length )         // use this if you are using id to check
       //  $(".fa-heart").removeClass( "is-clicked" );
       // else
       //  $(".fa-heart").addClass( "is-clicked" );
     });
    $( ".more-infos").click(function() {


      $(".more-description").toggleClass( "invisible" );

       if( $(".invisible").length )         // use this if you are using id to check
         $(".more-infos").html( "MORE INFOS" );
       else

         $(".more-infos").html( "LESS INFOS" );
     });
   </script>





