
  <!-- mobile -->



  <!-- desktop -->
      <h1><%= @wine.name %></h1>
      <h5><strong><%= @wine.colour %></strong></h5>
      <h5><strong>Country:</strong> <%= @wine.country %></h5>
      <br>
      <h4><strong>Tasting note</strong></h4>
      <% if @wine.tasting_note %>
        <p> <%= @wine.tasting_note %> </p>
      <% else %>
        <p>Tasting note unavailable</p>
      <% end %>
      <br>
      <h5><strong>Serving temperature:</strong> <%= @wine.serving_temperature %></h5>
      <h5><strong>Degree of alcohol:</strong> <%= @wine.alcohol_percent %></h5>
    </div>
  </div>
</div>


