
<!-- mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>





<div class="main-container">
  <div class="header">
    <div class="back-btn">
      <a action="action" onclick="window.history.go(-1); return false;">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>
    <div class="favorite">
      <i class="fas fa-heart"></i>
    </div>
  </div>
  <div class="product-image">
    <img src="<%= @wine.photo_url %>" alt="Bottle of <%= @wine.name %>">
  </div>
  <div class="description">
    <h3><%= @wine.name %></h3>
    <h4><%= @wine.country %></h4>
    <% if @wine.tasting_note %>
      <p class="details-wine text-justify"><%= @wine.tasting_note %></p>
    <% else %>
      <p class="details-wine text-justify">Tasting note unavailable</p>
    <% end %>
    <p class="more-infos text-center"> MORE INFOS </p>
  </div>


  <div class="more-description invisible">
    <div class="row color-variety">
      <div class="col-xs-6">
        <div class="color">
          <div class="title-left"><h3>Colour</h3></div>
          <div class="details">
            <p class="icon-left"> <%= image_tag "bottle glass.png", height: 30 %> </p>
            <p class="info"><%= @wine.colour %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="variety">
          <div class="title-right"><h3>Variety</h3></div>
          <div class="details">
            <p class="icon-right"> <%= image_tag "grape-2.png", height: 30 %> </p>
            <% if @wine.variety %>
              <p class="info"><%= @wine.variety %></p>
            <% else %>
              <p class="info">Information unavailable</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row temperature-alcohol">
      <div class="col-xs-6">
        <div class="temperature">
          <div class="title-left"><h3>Temperature</h3></div>
          <div class="details">
            <p class="icon-left"> <%= image_tag "Thermometre.png", height: 30 %> </p>
            <% if @wine.serving_temperature %>
              <p class="info"><%= @wine.serving_temperature %></p>
            <% else %>
              <p class="info">Information unavailable</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="degree">
          <div class="title-right"><h3>Degree of alcohol</h3></div>
          <div class="details">
            <p class="icon-right"> <%= image_tag "percentage-2.png", height: 30 %> </p>
            <p class="info"><%= @wine.alcohol_percent %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row food-pairing-rating">
      <div class="col-xs-6">
        <div class="food-pairing">
          <div class="title-left"><h3>Food pairing</h3></div>
          <div class="details">
            <% if @wine.pairs_with_meat %>
              <p class="icon-left"><%= image_tag "meat.png", height: 30 %></p>
            <% end %>
            <% if @wine.pairs_with_seafood %>
              <p class="icon-left"><%= image_tag "fish.png", height: 30 %></p>
            <% end %>
            <% if @wine.pairs_with_cheese %>
              <p class="icon-left"><%= image_tag "cheese.png", height: 30 %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="rating">
          <div class="title-right"><h3>Vivino.com rating</h3></div>
          <div class="details">
            <p class="icon-right"> <%= image_tag "star-2.png", height: 30 %> </p>
            <p class="info"><%= @wine.rating %></p>
          </div>
        </div>
      </div>

    </div>
    <br>
    <br>
  </div>
</div>



  <script>
    $( ".favorite").click(function() {


      $(".fa-heart").toggleClass( "is-clicked" );
       // if( $(".is-clicked").length )         // use this if you are using id to check
       //  $(".fa-heart").removeClass( "is-clicked" );
       // else
       //  $(".fa-heart").addClass( "is-clicked" );
     });
    $( ".more-infos").click(function() {


      $(".more-description").toggleClass( "invisible" );

       if( $(".invisible").length )         // use this if you are using id to check
         $(".more-infos").html( "MORE INFOS" );
       else

         $(".more-infos").html( "LESS INFOS" );
     });
   </script>





